@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');

/* colores web */
:root {
  --color1: #0096C7;
  /* --color2: #ce3748; */
  --color2:#b7862a;
  --color4: #545454;
  --color5:#ffff;
  --color6:#800000; 
}

/* @font-face{
  font-family:'maiamdra';
  src:url('../fonts/Maiandra.ttf');
} */

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17.5px;
}

a {
  text-decoration: none;
}

p.line {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.line {
  width: 30px;
  height: 3px;
  background: var(--color6);
}

/* estilos header */
header {
  -moz-box-shadow: 0 3px 3px rgba(94, 94, 94, 0.75);
  -webkit-box-shadow: 0 3px 3px rgba(94, 94, 94, 0.75);
  box-shadow: 0 3px 3px rgba(94, 94, 94, 0.75);
}

header .bar-sup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 7.5%;
  background: var(--color4);
}
header .bar-sup2 {
  padding-top: 1.5rem;
  background: var(--color1);
}

header .bar-sup :hover{
  color:var(--color5);
}
header .bar-sup a {
  color:var(--color5);
  font-size: 0.85em;
}
header ul.navbar-nav > li{
  margin-left:.6rem;
  margin-right:.6rem;
}

header nav.navbar {
  border-bottom: 3px solid #f6f6f8;
  border-top:3px solid #f6f6f8 ;
  background-color: var(--color1);
  padding-left:7%;
  padding-right:7%;
  
}
/* header #menu1{
  background-color:var(--color1);
  padding-top:1rem;
  padding-bottom:1rem;
} */

header a.nav-link {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.83em;
  text-transform: uppercase;
}

header a.nav-link i {
  font-size: 1.3em;
}

header a{
  font-family: 'Source Sans Pro', sans-serif;
}

header .dropdown-menu {
  
  background-color: #f6f6f8;
  box-shadow: 0 0 3px rgb(197, 197, 197);
}

header .dropdown-item {
  font-size: 0.8em;
  padding: 8px 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
header .dropdown-item:hover {
 background-color: var(--color4);
}

header #submenu:hover{
  background-color:var(--color4);
}

/* 
header #logo {
   
  animation-name: rotation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotateY(-360deg);
  }
}
button >span{
  color:black;
}
 */
#text-logo h3{
font-weight: bold;
color:white;
text-align:center;
}
.navbar-light .navbar-nav .nav-link {
  color:var(--color5);
}



.text-justify {
  text-align: justify;
}
.back{
  font-size:15px;
}

#lema {
  position:relative;
  margin-top: -90px;
}

#lema .div-lema{
  
  border-radius: 20px;
  background-color: var(--color1);
}
#lema .div-lema h2{
  color:var(--color3);
  
}

/* estilos footer */

footer .bar-inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 7%;
  background-color: var(--color6);
}

footer .bar-inf a {
  color: white;
  font-size: 0.85em;
}
footer {
  background: var(--color1);
  background-size: 20%;
}


footer #terminos{
  font-size:1rem;
}
#perfiles{
  padding-top:5.5rem;
}
.imgnivel{
  height: 350px;
}
.ubic li{
  align-items: center; 
  border: none; 
  background: transparent;
  justify-content: center;
}
footer .bar-inf2 {
  display: none;
}

/* mod responsive */
@media screen and (max-width:600px) {

  header #logo-bautista {
    
    height: 50px;
    margin-top: -10px;
    margin-left: 3px;
    
  }
  #text-logo{
    
    text-align:center;
    font-size:1rem;
    font-weight: bold;
    font-family: 'maiambra';
    padding-left:3.5rem;
  }
  header #logotipo {
    margin-left: 30em;
    font-size: 0.2em;
  }
  header nav.navbar {
    background-color: var(--color6);
    padding: 2.7% 3%;
  }
  footer .bar-inf {
    padding: 6px 3%;
  }
  .separador > .sep_title {
    font-size: 16px;
    
  }
  .separador > .sep_title2 {
    font-size: 12px;
    
  }
 #col-niveles{
   margin-bottom: 2rem;
 }
 .imgnivel{
  height: 180px;
}

  header .bar-sup span {
    display:none;
  }
  footer .bar-inf span{
    display: none;
  }
  footer .bar-inf2 {
    display:inline-block;
    
  }
  footer .bar-inf2 span{
    display:none;
    
  }
  footer .div-escudo{
    padding-bottom:1.5rem;
  }
  footer .contacto .form-check{
    padding-left: .8rem;
    padding-top:1rem;
  }
  header #submenu span{
    display:none;
  }
 
  .ubic-img div{
    padding-bottom: 1.2rem;
  }
  .ubic li{
    
    justify-content: left;
  }
  #div-logros{
    margin-top: 0rem!important;
    padding-top:0rem!important;
    padding-bottom: 1.3rem;
  }
  .back{
    font-size:10px!important;
}
#perfiles{
  padding-top:2rem;
}
.sig-facebook{
  display:none;
}
.ultimoitem{
  padding-bottom: 0rem;
}
.fixed-top{
  position: absolute;
}

}
#flechaarriba{
  display:none;
}
@media screen and (max-width:1399px) {

  footer #terminos{
    width:100%;
    font-size:12px;
  }
  .back{
    font-size:12px;
}
}
